/* Base styles for h3 elements */
h3 {
    margin: var(--spacing-xs);
    font-size: var(--font-size-xs);
    cursor: pointer;
}

/* Control container styles */
#legendContainer,
#layerControl {
    position: absolute;
    right: var(--spacing-md);
    z-index: 1;
    padding: var(--spacing-xs);
    background: var(--white-transparent-high);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-default);
}

/* Individual positions */
#legendContainer {
    bottom: 65px;
}

#layerControl {
    bottom: 40px;
}

/* Legend styles */
.legend-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.legend-text,
#layerControl label {
    font-size: 12px;
}

/* Layer control styles */
#layerControl label {
    display: block;
    margin: 5px 0;
    font-size: 12px;
}

.layer-checkbox {
    margin-right: 5px;
}

/* Toggle button styles */
.toggle-btn {
    position: absolute;
    top: 0;
    right: var(--spacing-xs);
    padding: var(--spacing-xs);
    font-size: var(--font-size-md);
    color: var(--text-color);
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
        color: var(--text-color-dark);
    }
}

/* Hidden container styles */
.container-hidden {
    padding: var(--spacing-sm);
    background: transparent;
    box-shadow: none;

    h3 {
        margin: 0;

        &:hover {
            background: var(--white);
        }

        &::after {
            content: "  ▲";
        }
    }

    .container-content,
    .toggle-btn {
        display: none;
    }
}

/* Mobile styles */
@media (width <= 768px) {
    #legendContainer,
    #layerControl {
        right: var(--spacing-md);
        transition: bottom 0.3s ease-in-out;
    }

    #legendContainer {
        bottom: 110px;
    }

    #layerControl {
        bottom: 85px;
    }

    body:has(.precipitation-container.expanded) {
        #legendContainer {
            bottom: calc(30vh + 20px);
        }

        #layerControl {
            bottom: calc(30vh - 5px);
        }
    }
}