/* Common styles for control containers */
#legend-container,
#layer-control {
    position: absolute;
    right: var(--spacing-xs);
    z-index: 1;
    padding: var(--spacing-xs);
    background: var(--white-transparent-high);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-default);

    h3 {
        margin: var(--spacing-xs);
        font-size: var(--font-size-xs);
        cursor: pointer;
    }
}

/* Container positions */
#legend-container,
#layer-control {
    right: var(--spacing-md);
}

#legend-container {
    bottom: 65px;
}

#layer-control {
    bottom: 40px;
}

/* Legend styles */
.legend-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.legend-text,
#layer-control label {
    font-size: 12px;
}

/* Layer control styles */
#layer-control {
    label {
        display: block;
        margin: 5px 0;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }
}

/* Toggle button styles */
.toggle-btn {
    position: absolute;
    top: 0;
    right: var(--spacing-xs);
    padding: var(--spacing-xs);
    font-size: var(--font-size-md);
    color: var(--text-color);
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
        color: var(--text-color-dark);
    }
}

/* Hidden container styles */
.container-hidden {
    padding: var(--spacing-sm);
    background: transparent;
    box-shadow: none;

    .container-content,
    .toggle-btn {
        display: none;
    }

    h3 {
        margin: 0;
        cursor: pointer;

        &::after {
            content: "  ▲";
        }

        &:hover {
            background: var(--white);
        }
    }
}

/* Mobile styles */
@media (width <= 768px) {
    #legend-container,
    #layer-control {
        right: var(--spacing-md);
        transition: bottom 0.3s ease-in-out;
    }

    #legend-container {
        bottom: 110px;
    }

    #layer-control {
        bottom: 85px;
    }

    body:has(.precipitation-container.expanded) {
        #legend-container {
            bottom: calc(30vh + 20px);
        }

        #layer-control {
            bottom: calc(30vh - 5px);
        }
    }
}