:root {
    --map-mobile-height: calc(100vh - 45px);
    --map-mobile-height-expanded: calc(100vh - var(--mobile-precipitation-height));
}

#map {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    cursor: pointer;
    transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

#map.sidebar-open {
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
}

@media (max-width: 768px) {
    #map {
        height: var(--map-mobile-height);
    }

    #map.sidebar-open {
        margin-left: 0;
        width: 100%;
    }

    body:has(.precipitation-container.expanded) #map {
        height: var(--map-mobile-height-expanded);
    }
}