.paragliding {
    #legendContainer,
    #layerControl,
    #coordinates,
    #myCoords,
    #zoomlevel,
    #sidebar,
    .sidebar-toggle,
    #fullscreenControl,
    .precipitation-container,
    .maplibregl-ctrl-attrib {
        display: none;
    }

    #timeDisplay {
        bottom: 0;
    }

    #map {
        height: 100vh;
    }

    @media (width <= 768px) {
        #map {
            height: 100vh;
        }
    }
}